/*----------------------------------------------------------------------------\
    Button
    Styling of buttons, customized
\----------------------------------------------------------------------------/

/*  Variables
\----------------------------------------------------------------------------*/

$button-color: $primaryColor;

/*  Component
\----------------------------------------------------------------------------*/

.button {
    color: $primaryColor;
    font-family: $family-monospace;
    font-weight: 600;
}