/*----------------------------------------------------------------------------\
    Helpers
    Some classes for layout 
\----------------------------------------------------------------------------/

/*  Variables
\----------------------------------------------------------------------------*/

$space: 24px;

/*  Component
\----------------------------------------------------------------------------*/

.sign {
    margin-bottom: $space;
}
.has-text-secondary {
    color: $secondaryColor !important;
}