/*----------------------------------------------------------------------------\
    Typography
    Description
\----------------------------------------------------------------------------/

/*  Variables
\----------------------------------------------------------------------------*/



/*  Component
\----------------------------------------------------------------------------*/

.heading {
    margin: 0;
    font-weight: 800;
    font-size: $space;
}